*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    margin: 0;
    padding:0;
    max-width: 100vw;
}
.navbar, .logo{
    height: 80px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.fam-pic{
    display: none;
}
.align{
    display: flex;
    flex-direction: row; 
}
.spacer{
    height: 80px;
    width: 1px;
    background-color: black;
}
.container{
    height: calc(100vh - 120px);
    /* background-color: #c6ccd8; */
    background-image: url("./bg4.JPG");
    position: relative;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.content{
    /* height: 100vh; */
    background-color: #f2f2f2;
    padding-bottom: 50px;
}
.big, .small{
    font-family: 'Open Sans', sans-serif;
    color: #002868;
}
.title{
    margin-top: 100px;
    margin-left: 100px;
}
.big{
    line-height: 90px;
    font-size: 100px;
}
.small{
    font-size: 20px;
}
.lead{
    width:220px;
    height: 3px;
    margin-left: 10px;
    background-color: #002868;
}
.lead-line{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.blue-box{
    background-color: #043381;
    width: 80%;
    height: 150px;
    padding: 10px;
    margin:auto;
    position: relative;
    top: -75px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}
.white{
    color: white;
}
.button{
    background-color: #c00a32;
    color: white;
    padding: 1.1em 2em;
    margin: 10px;
    font-size: 18px;
    border: none;
    opacity: 0;
    transition: 1s;
}
.button:hover{
    cursor: pointer;
    background-color: white;
    color: #c00a32;
}
.animate{
    opacity: 1;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.text{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text p {
    text-align: justify;
    margin: 0 50px;
}
.button-line{
    display: flex;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .title{
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
  }
@media only screen and (max-width: 1000px) {
    .text{
        width: 90%;
        flex-direction: column;
    }
    .layer{
    background-color: rgba(226, 226, 226, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
  }

@media only screen and (max-width: 850px){
    .blue-box{
        width:90%;
    }
    .smaller{
        font-size: 14px;
    }
  }
  @media only screen and (max-width: 752px){
    .blue-box{
        width:100%;
    }
    .container{
        height: 500px;
    }
  }
  @media only screen and (max-width: 700px){
    .text p{
        margin-bottom: 10px;
    }
    .button{
        padding: 10px 20px;
    }
  }
  @media only screen and (max-width: 600px){
    .text{
        width: 100%;
    }
    .text p{
        margin: 10px;
    }
    .title{
        margin-top: 50px;
        margin-left: 50px;
    }
    .blue-box{
        flex-direction: column;
    }
  }
  @media only screen and (max-width: 500px){ 
    .big{
        line-height: 50px;
        font-size: 60px;
    }
    .small{
        font-size: 18px;
    }
    .lead{
        width:100px;
        height: 3px;
        margin-left: 10px;
    }
    .button{
        padding: 5px 10px;
        margin: 2px;
    }
    .blue-box{
        height: 100px;
    }
    .navbar{
        padding:0;
    }
    .container{
    background-image: url("./light-bg.jpg");
    }
    .layer{
        background-color: rgba(143, 143, 143, 0.0);
    }
    .title{
        margin-left: 10px;
        margin-top: 10px;
    }
    .fam-pic{
        display: block;
        width: 300px;
    }
    .fam{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .logo{
        width: 180px;
    }
  }